@import "./colors";
@import "./typography";
@import "./breakpoints";
@import "./grid";
@import "./mixins";

.can-do-section {
  padding-top: 35px;
  padding-bottom: 35px;

  @media #{$tablet-landscape} {
    padding-top: 65px;
    padding-bottom: 10px;
  }

  @media #{$laptop} {
    padding-top: 100px;
    padding-bottom: 145px;
  }
}
