@import "./colors";
@import "./typography";
@import "./breakpoints";
@import "./grid";
@import "./mixins";

.partners-section {
  padding-top: 35px;
  padding-bottom: 30px;
  border-top: 1px solid $gray-700;
  border-bottom: 1px solid $gray-700;

  @media #{$tablet-landscape} {
    padding-top: 45px;
    padding-bottom: 20px;
  }

  @media #{$laptop} {
    padding-top: 65px;
    padding-bottom: 30px;
  }

  &__list {
    @include reset-list();
    margin: 0;

    @media #{$laptop} {
      justify-content: space-between;
    }
  }

  &__list-item {
    @include column("half");
    padding: 15px 0;
    margin-bottom: 0;

    @media #{$tablet-landscape} {
      @include column(2.4);
      padding: 30px 0;
    }

    @media #{$laptop} {
      @include column("auto");
      padding-right: 95px;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}
